---
import MainLayout from "../layouts/MainLayout.astro";
import { client } from "../lib/sanity";

const reviews = await client.fetch(`
  *[_type == "restaurantReview"]{
    _id,
    title,
    slug,
    visitDate,
    rating,
    featured,
    venue->{
      name,
      city,
      province
    }
  }
`);
---

<MainLayout title="Restaurant Review Test">

  <section class="container" style="padding: 4rem 0;">

    <h1>Restaurant Review Test</h1>

    <pre>{JSON.stringify(reviews, null, 2)}</pre>

  </section>

</MainLayout>